In [1]:
import numpy as np
import pandas as pd

In [13]:
train_data = pd.read_csv('data/train_data.csv')

In [3]:
test_data = pd.read_csv('data/test_data.csv')
train_labels = pd.read_csv('data/train_labels.csv')

In [4]:
train_data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [14]:
#D_63, D_64 
np.unique(train_data.D_63)

array(['CL', 'CO', 'CR', 'XL', 'XM', 'XZ'], dtype=object)

In [15]:
len(train_data.D_63)
len(train_data.D_63)

5531451

In [20]:
def handleD64(data):
    value_names = np.unique(data.D_64.astype(str))
    df = pd.DataFrame()
    for i, val in enumerate(value_names):
        if val == 'nan':
            continue
        df[f"D_64_{val}"] = 1.0 * (data.D_64 == val)
    return df

def handleD63(data):
    value_names = np.unique(data.D_63.astype(str))
    df = pd.DataFrame()
    for i, val in enumerate(value_names):
        df[f"D_63_{val}"] = 1.0 * (data.D_63 == val)
    return df

In [21]:
print(handleD63(train_data))

         D_63_CL  D_63_CO  D_63_CR  D_63_XL  D_63_XM  D_63_XZ
0            0.0      0.0      1.0      0.0      0.0      0.0
1            0.0      0.0      1.0      0.0      0.0      0.0
2            0.0      0.0      1.0      0.0      0.0      0.0
3            0.0      0.0      1.0      0.0      0.0      0.0
4            0.0      0.0      1.0      0.0      0.0      0.0
...          ...      ...      ...      ...      ...      ...
5531446      1.0      0.0      0.0      0.0      0.0      0.0
5531447      1.0      0.0      0.0      0.0      0.0      0.0
5531448      1.0      0.0      0.0      0.0      0.0      0.0
5531449      1.0      0.0      0.0      0.0      0.0      0.0
5531450      1.0      0.0      0.0      0.0      0.0      0.0

[5531451 rows x 6 columns]

In [24]:
train_data = pd.concat([train_data, handleD63(train_data), handleD64(train_data)], axis=1)

In [26]:
train_data.B_31 = train_data.B_31.astype(np.float64)

In [32]:
train_data.drop(columns=['D_63', 'D_64'], inplace=True)